<a href="https://colab.research.google.com/github/rhs329/boostcourse/blob/main/4_2_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 조건문
### if
* https://docs.python.org/ko/3/tutorial/controlflow.html#if-statements

In [ ]:
# 숫자를 입력받아 음수와 양수 여부를 출력합니다.
x = int(input("Please enter an integer: "))
if x > 0 :
    print("양수")
elif x == 0 :
    print("영")
else :
    print("음수")

## 반복문
### for
* https://docs.python.org/ko/3/tutorial/controlflow.html#for-statements

In [ ]:
# 리스트 안에 있는 값을 순회하며 반복문으로 출력해 보세요.
words = ['배추', '무', '토마토', '사과']
for w in words :
    print(w)

배추
무
토마토
사과

### range() 함수
* https://docs.python.org/ko/3/tutorial/controlflow.html#the-range-function

In [ ]:
# range로 범위를 지정해 반복문을 수행할 수 있습니다.
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# 리스트를 변수로 받아 순회할 수도 있지만 리스트의 길이만큼 range 값을 생성하여 순회할 수도 있습니다.
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print("i:", i, ", a[i]:", a[i])

i: 0 , a[i]: Mary
i: 1 , a[i]: had
i: 2 , a[i]: a
i: 3 , a[i]: little
i: 4 , a[i]: lamb

In [ ]:
# enumerate 를 사용하면 인덱스 번호와 값을 함께 가져올 수 있습니다.
for i, val in enumerate(a):
    print(i, val)

0 Mary
1 had
2 a
3 little
4 lamb

### range 응용

In [ ]:
# 합계 구하기
# 0 + 1 + 2 + 3 를 range와 sum을 사용해 구합니다.
list(range(4))

[0, 1, 2, 3]

In [ ]:
# 리스트로 만들기
# list를 사용해 [0, 1, 2, 3] 리스트를 생성합니다.
sum(list(range(4)))

6

### 조건문과 반복문 함께 사용하기

In [ ]:
# range로 값을 순회하며 짝수일 때는 "짝수"를 홀수일 때는 "홀수"를 출력하게 합니다.
for i in range(1,11):
    if i % 2 == 0 :
        print("짝수")
    else :
        print("홀수")

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

### While 문
* 조건문이 참인 동안 순회하며 실행되기 때문에 특정 조건까지 반복문을 수행하고자 할때 사용합니다.
* 예를 들어 특정 웹페이지를 순회한다면 내용이 없을 때까지 순회하라는 반복문을 구현할 수 있습니다.

In [ ]:
# 변수의 초깃값을 부여하고 특정 변수값이 되면 종료하도록 합니다.
변수 = 0
while True:
    변수 = 변수 + 1
    print(변수)
    if 변수 >= 10:
        break

1
2
3
4
5
6
7
8
9
10

## 함수
* https://docs.python.org/ko/3/tutorial/controlflow.html#defining-functions

In [ ]:
# 평균을 구하는 average 라는 이름을 갖는 함수를 만들어 보세요.

def average(data):
    """리스트의 값을 받아 평균을 구하는 함수"""
    avg = sum(data) / len(data)
    return avg

In [ ]:
# 함수가 잘 만들어졌는지 확인합니다.
data = range(1,11)
average(data)

5.5

In [ ]:
average??

In [ ]:
sum??

### sum 함수 for 문으로 직접 구현해 보기

In [ ]:
# 함수명은 total_sum 으로 매개변수는 num 이 되도록 구현합니다.
def total_sum(num):
    total = 0
    for i in num:
        total = total + i
    return total

In [ ]:
# 함수가 잘 만들어졌는지 확인합니다.
num = range(1,11)
print(list(num))
total_sum(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

55

In [ ]:
sum(num)

55